<!DOCTYPE html>
<html>
<head>
	<title>Module.Export</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

	{% block css %}{% endblock %}

</head>
<header class="header">
<nav class="main_nav">
	<ul>
		<li><a href="/">HOME</li>
		<li><a href="/about">ABOUT</a></li>
	</ul>
</nav>
</header>
<body>
	{% block main_container %}{% endblock %}
</body>
<script type="text/javascript" src="requirejs/require.js"></script>
<script type="text/javascript" src="js/require_config.js"></script>
<script type="text/javascript" src="js/common.js"></script>

{% block js %}{% endblock %}

</html>